<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Lexend+Tera&display=swap" rel="stylesheet">
        <style>
            
            #hello{

font-family: 'Lexend Tera', sans-serif;
color:white;
margin-left: 20%;
    margin-top:24%;
    
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.884)),  url("mainpage.jpeg"); 
background-repeat: no-repeat;
background-size: 100% 100% !important;
opacity: 1;
visibility:initial;
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  #hello {
    margin-top: 50%;
  }
}
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
       <h1 id="hello"> Internal server error. Please come back later</h1>
    </body>
</html>